* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #064e3b;
}

.search-box {
  background: #fff;
  width: 340px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 1.5);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

input:focus {
  border-color: #4f46e5;
}

ul {
  list-style: none;
  margin-top: 8px;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 8px;
}

li {
  padding: 10px;
  cursor: pointer;
  background: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
}

li:hover,
li.active {
  background: #eef2ff;
}

.highlight{
    color: #4f46e5;
    font-weight: bold;
}